<h1>Utwórz listę!</h1>


<p>Dodaj {{shoppingList.size == 0 ? "pierwszy" : "kolejny"}} produkt</p>

<label *ngIf="" for="typeahead-format"></label>
<input [(ngModel)]="model" id="typeahead-format" type="text" class="form-control" [ngbTypeahead]="search"
	[inputFormatter]="formatter" [resultFormatter]="formatter" />
<input [(ngModel)]="itemCount" type="number" />

<button (click)="addItem()">+</button>


<h1>Lista:</h1>
<ul>
	<li *ngFor="let item of shoppingList | keyvalue">
		{{item.key.name}}
		<input type="number" [value]="item.value" (change)="updateItemCount($event, item.key)" />
		<button (click)="deleteItem(item.key)">-</button>
	</li>
</ul>
<button>Utwórz</button>