<mat-card width=50% *ngIf="shoppingListId=='' else createdList">
	<mat-card-header>
		<mat-card-title>Create new shopping list!</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-form-field>
			<mat-label>Title</mat-label>
			<input matInput [(ngModel)]="shoppingListTitle">
		</mat-form-field>
	</mat-card-content>
	<mat-card-content>
		<mat-form-field>
			<mat-label>Description</mat-label>
			<textarea matInput placeholder="Ex. It makes me feel..."></textarea>
		</mat-form-field>
	</mat-card-content>
	<mat-card-actions align="end">
		<button mat-raised-button color="primary" (click)="createShoppingList()">Create</button>
	</mat-card-actions>
</mat-card>

<ng-template #createdList>
	<app-create-item (newItemEvent)="GetShoppingListsForView()" [shoppingListId]="shoppingListId"></app-create-item>
	<mat-accordion cdkDropList #assignedList="cdkDropList" [cdkDropListData]="shoppingListForView"
		(cdkDropListDropped)="drop($event)">
		<mat-expansion-panel *ngFor="let shoppingView of shoppingListForView" cdkDrag hideToggle>
			<mat-expansion-panel-header #panelH (click)="panelH._toggle()">
				{{shoppingView.categoryName}}
				<i class="material-icons app-toolbar-menu" (click)="panelH._toggle()">swap_vertical_circle
				</i>
			</mat-expansion-panel-header>
			<ng-template matExpansionPanelContent>
				<app-shopping-items-from-category-tile (deleteItemEmit)="GetShoppingListsForView()" [shoppingListFromCategory]="shoppingView.items">
				</app-shopping-items-from-category-tile>
			</ng-template>
		</mat-expansion-panel>
	</mat-accordion>

</ng-template>







<!-- <p>Dodaj {{shoppingList.size == 0 ? "pierwszy" : "kolejny"}} produkt</p>

<label *ngIf="" for="typeahead-format"></label>
<input [(ngModel)]="model" id="typeahead-format" type="text" class="form-control" [ngbTypeahead]="search"
	[inputFormatter]="formatter" [resultFormatter]="formatter" />
<input [(ngModel)]="itemCount" type="number" />

<button (click)="addItem()">+</button>


<h1>Lista:</h1>
<ul>
	<li *ngFor="let item of shoppingList | keyvalue">
		{{item.key.name}}
		<input type="number" [value]="item.value" (change)="updateItemCount($event, item.key)" />
		<button (click)="deleteItem(item.key)">-</button>
	</li>
</ul>
<button>Utwórz</button> -->