.spacer {
  }

.name-logo {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: left;
    align-items: flex-end;
    margin: 1rem;
    * {
        font-weight: bold;
    }
}

.smart-list-header {
    
}