<div mat-button class="name-logo" routerLink="/">
  <h1 class="mat-h1">SmartList</h1>
  <fa-icon class="fa-5x" [icon]="['fas', 'bag-shopping']"></fa-icon>
</div>

<mat-toolbar class="smart-list-header" color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
  </div>

  <span class="spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <button mat-button routerLink="/about-us">Home</button>
    <button mat-button [matMenuTriggerFor]="shoppingList">Shopping Lists
      <fa-icon class="fa-sm" [icon]="['fas', 'caret-down']"></fa-icon>
    </button>
    <mat-menu #shoppingList="matMenu">
      <button mat-menu-item>Create</button>
      <button mat-menu-item>View</button>
    </mat-menu>
    <button mat-button routerLink="/start-page">Categories</button>
    <button mat-button routerLink="/offer">Products</button>
    <button mat-button routerLink="/contact">Predefined Lists</button>
  </div>

</mat-toolbar>