<h1>Utwórz nowy przedmiot!</h1>
    <p>Po utworzeniu nowego produktu będzie go można dodać do listy zakupów</p>


<label for="typeahead-category">Kategoria przedmiotu:</label>
<input
    id="typeahead-category"
    type="text"
    class="form-control"
    [(ngModel)]="categoryModel"
    [ngbTypeahead]="search"
    [resultFormatter]="formatter"
    [inputFormatter]="formatter"
    [editable]="false"
/>

<label for="">Nazwa przedmiotu:</label>
<input [(ngModel)]="productName"
	type="text"
/>

<button (click)="addProduct()">Utwórz</button>

<!-- <h1>Utworzone kategorie:</h1>
<ul>
	<li *ngFor="let category of categoryList">
		{{category.name}}
		<button (click)="deleteCategory(category)">-</button>
	</li>
</ul> -->


<p>
    Wiadomość z create-category: {{inputTest}}
  </p>

  <button (click)="changeInputValue()">Zmien input</button>
