<h1>Utwórz nową kategorie!</h1>
    <p>Po utworzeniu nowej kategorii będzie ją można przydzielić do produktu</p>


<label for="">Nazwa kategorii:</label>
<div>
<input
	[(ngModel)]="categoryName"
	type="text"
	class="form-control"
/>
<button class="btn btn-dark" (click)="createCategory()">Dodaj!</button>
</div>

<h1>Utworzone kategorie:</h1>


<app-categories-with-products (categoryListEmitter)="getCategoriesFromComponent($event)"></app-categories-with-products>



<ngb-alert class="category-alert fixed-bottom" *ngIf="alertMessage !==''" [type]="alertType" (closed)="close()">{{ alertMessage }}</ngb-alert>


