<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col" sortable="name">Kategoria</th>
			<th scope="col" sortable="area">Akcje</th>
		</tr>
	</thead>
	<tbody [ngClass]="['category']" *ngFor="let category of categoriesWithProductsList; let i = index" appToogleClass="hidden">
		<tr>
			<th scope="row">{{ i }}</th>
			<td>{{ category.name }}</td>
			<td>		
				<button class="btn btn-danger" (click)="deleteCategory(category)">-</button>
				<button class="btn">strzałka w dół</button>
			</td>			
		</tr>
		<tr class="products" *ngFor="let product of category.products; let i = index">
			<th scope="row">{{ i }}</th>
			<td>{{ product.name }}</td>
	
		</tr>
	</tbody>

</table>
